@import "web-fonts";
$url: web-fonts-url("Open Sans");
@import url($url);

body {
  header {
    nav.uk-navbar {
      margin-bottom: -100%;
    }
  }

  .main-wrapper {
    .jumbotron {
      padding-top: 100px;
    }
  }
}
